docker/mysql/*
!docker/mysql/.gitkeep
docker/nginx/*
!docker/nginx/app.conf
docker/logs/*
!docker/logs/.gitkeep
docker/php/*
!docker/php/Dockerfile
node_modules
public/hot
public/storage
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
